#desc_container{
	/* background-color: crimson; */
	background-color: rgb(1, 9, 20);
	display: flex;
	justify-content: center;
	font-family:monospace;
	/* height: 40vh; */
	color: cornflowerblue;
	padding-top: 3vh;
	padding-bottom:3vh;
	cursor: default;
	animation-name: fade;
	animation-duration: 3s;
	animation-timing-function: linear;

}
#quote{
	/* background-color: gray; */
	display: flex;
	width: 80%;
	word-wrap: normal;
	height: fit-content;
	font-size: 1.5vw;
	line-height: 1.5;
	/* margin-top: 8vh; */
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: linear;

}
@keyframes fade {
	0%{opacity: 1%;}
	100%{opacity: 100%;}
}
#quote:hover{
	color:yellow;
}

@media screen and (max-width:397px){
	#quote{
		font-size: 12px;
		/* margin-top: 10px; */
	}
	
}