#edu_container{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	color: cornflowerblue;
	padding-top: 3vh;
	padding-bottom:3vh;
	animation-name: fade;
	animation-duration: 3s;
	animation-timing-function: linear;
	cursor: default;
}
#edu_wrapper{
	/* background: coral; */
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}
#ucd{
	display: flex;
	width: fit-content;
	position: relative;
	/* right: 21%; */
	font-size: 3vw;
	padding-top:.3vh;
	transform: translateX(-2px);
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: linear;
}
#ucd:hover{
	color:yellow;
}
#major{
	display: flex;
	width: fit-content;
	position: relative;
	/* right: 26%; */
	font-size: 1.5vw;
	padding-top:.3vh;
	transition-property: color;
	transition-duration: 1s;

}
#major:hover{
	color:yellow;
}
#gpa{
	display: flex;
	width: fit-content;
	position: relative;
	/* right: 38%; */
	font-size: 1.2vw;
	padding-top:.3vh;
	transition-property: color;
	transition-duration: 1s;
}
#gpa:hover{
	color:yellow;
}