#h_container{
	background-color: rgb(1, 9, 20);
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	color: cornflowerblue;
	padding-top: 3vh;
	padding-bottom:3vh;
	cursor: default;

	/* height: 60vh; */
}

/* @media screen and (min-width: 1400px){
	.name{
		font-size: 150px;
		max-width: 100%;
	}
	
}
@media screen and (max-width:1400px) and (min-width:850px){
	.name{
		font-size: 100px;
		max-width: 100%;
	}
} */

.name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 100%;
	/* height: 100%; */
	
}
#bryce{
	position:relative ;
	animation-name: fly_down;
	animation-duration: 2s;
}
@keyframes fly_down {
	0%{transform: translateY(-200px);}
	100%{transform:translateY(0px)}
}

#chung{
	position: relative;
	animation-name: fly_right;
	animation-duration: 2s;
}
@keyframes fly_right {
	0%{transform: translateX(-200px)}
	100%{transform: translateX(0px)}
}

@keyframes fly_left {
	0%{transform: translateX(200px)}
	100%{transform: translateX(0px)}
}

.row{
	display: flex;
	justify-content: space-evenly;
	max-width: 100%;
	font-size: 6vw;
}
th{
	width: 20%;
	transition-property: color;
	transition-duration: .5s;
	transition-timing-function: linear;
}
th:hover{
	color:yellow;
}
#left{
	/* background-color: brown; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 40%;
	/* padding: 10px; */
	/* padding-top: 0; */
	margin: 20px;
	/* margin-bottom: 0px; */
	
}
#right{
	/* background-color: coral; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 40%;
	/* padding: 10px; */
	/* padding-top: 0; */
	margin: 20px;
	/* margin-top: 0px; */
}
#pic{
	/* background-color: darkcyan; */
	display: flex;
	align-self: center;
	width:100%;
	border-radius: 5%;
	position: relative;
	animation-name: fly_left;
	animation-duration: 2s;
	/* min-width: 120px; */
}
/* @keyframes fly_left {
	0%{right:-200px}
	100%{right:0px}
} */
#img_wrapper{
	/* background-color: darkorchid; */
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	position: relative;
	
}

@media screen and (max-width:397px){
	#left{
		margin-bottom: 0px;
	}
	#h_container{
		flex-direction: column;
		/* height: 40vh; */
		/* justify-content: space-evenly; */
		align-items: center;
	}
}
